@charset "utf-8";

#layout {
    position: relative;
    top: 30px;
}
#layout1 {
    position: absolute;
    top: 10px;
    background-color: red;
}
#layout2 {
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: yellow;
}
#layout3 {
    position: absolute;
    top: 10px;
    left: 90px;
    background-color: blue;
}
#layout4 {
    position: absolute;
    top: 10px;
    left: 120px;
    background-color: gray;
}