@charset "utf-8";

h2 {
    width: 100%;
    height: 40px;
    border: solid 2px red;
    background-color: pink;
    /* h2要素の下のborder線の色を赤色に指定 */
    border-bottom-color: red;
    /* h2要素の右のborder線の線種を破線に指定 */
    border-right-style: dashed;
}